!!!
%html.mdl-js{:lang => "en"}
  %head
    = render('/partials/load_configs')
  %body
    %section#introduction
      .container
        .row.fill-viewport.align-items-center.justify-content-center
          .col-12.col-md-6
            .row
              .col-md-auto
                %h1.text-white.title
                  = show_info(:codebreaker_title)
            %p.lead.text-white-70
              = I18n.t(:hello, name: @request.session[:name])
              = show_info(:try_to_guess_code)
            %hr.mb-4/
            .row
              .col.button
                %button.btn.btn-primary{:disabled => "disabled", :type => "button"}
                  = show_info(:level)
                  %span.badge.badge-light
                    = @request.session[:level]
              .col.text-center.button
                %button.btn.btn-primary{:disabled => "disabled", :type => "button"}
                  = show_info(:attempts)
                  - if @request.session[:game].attempts_left
                    = "#{@request.session[:game].attempts_left} / #{@request.session[:attempts_total]}"
                  - else
                    = "0 / #{@request.session[:attempts_total]}"
              .col.button
                %button.btn.btn-primary.float-right{:type => "button", :disabled => "disabled"}
                  = show_info(:hints)
                  - if @request.session[:game].hints_left
                    = "#{@request.session[:game].hints_left} / #{@request.session[:hints_total]}"
                  - else
                    = "0 / #{@request.session[:hints_total]}"
            %hr.mb-4/
            %form{:action => "/play_game", :method => "post"}
              .form-group
                %input.form-control.guess_input{:autocomplete => "off", :name => "guess_code", :pattern => "^[1-6]{4}$", :autofocus => '', :placeholder => 'XXXX', :required => ""}/
              .form-group.guess_markers_list
                #guess_marker
                  - if @request.session[:guess_code]
                    - signs_arr = @request.session[:game].compare_guess_and_secret_codes(@request.session[:guess_code]).split("")
                    - signs_arr.each do |sign|
                      - if signs_arr.length != 4
                        - signs_arr.push('x')
                    - signs_arr = ['x','x','x','x'] if signs_arr == []

                    - signs_arr.each do |sign|
                      - if sign == '+'
                        %button.btn.btn-success.marks{:disabled => "disabled", :type => "button"} +
                      - if sign == '-'
                        %button.btn.btn-primary.marks{:disabled => "disabled", :type => "button"} -
                      - if sign == 'x'
                        %button.btn.btn-danger.marks{:disabled => "disabled", :type => "button"} x
              %hr.mb-4/
              %button.btn.btn-primary.btn-lg{:type => "submit"}
                = show_info(:submit)
              - if @request.session[:game].hints_left != @request.session[:hints_total]
                %a.btn.btn-warning.btn-lg.float-right{:role => "button", :href => '/show_hint'}
                  = show_info(:show_hint)
                  %span.badge
                    - if @request.session[:game].hints_left
                      - a = @request.session[:game].hints_left
                      - a.times do |index|
                        = @request.session[:game].secret_code_for_hints[index]
              - else
                %a.btn.disabled.btn-warning.btn-lg.float-right{:role => "button", :href => '/show_hint'}
                  = show_info(:show_hint)
                  %span.badge
                  - a = @request.session[:game].hints_left
                  - a.times do |index|
                    = @request.session[:game].secret_code_for_hints[index]
