!!!
%html.mdl-js{:lang => "en"}
  %head
    = render('/partials/load_configs')
  %body
    %section#introduction
      .container
        .row.fill-viewport.align-items-center.justify-content-center
          .col-12.col-md-6
            .row
              .col-md-auto
                %h1.text-white.title
                  = show_info(:codebreaker_title)
            %p.lead.text-white-70
              = I18n.t(:hello, name: @request.session[:name])
              = show_info(:try_to_guess_code)
            %hr.mb-4/
            .row
              .col.button
                %button.btn.btn-primary{:disabled => "disabled", :type => "button"}
                  = show_info(:level)
                  %span.badge.badge-light
                    = @request.session[:level]
              .col.text-center.button
                %button.btn.btn-primary{:disabled => "disabled", :type => "button"}
                  = show_info(:attempts)
                  %span.badge.badge-light 4
              .col.button
                %button.btn.btn-primary.float-right{:type => "button"}
                  = show_info(:hints)
                  %span.badge.badge-light 1
            %hr.mb-4/
            %form{:action => "http://localhost:9292/submit_answer", :method => "post"}
              .form-group
                %input.form-control.guess_input{:autocomplete => "off", :name => "number", :pattern => "^[1-6]{4}$", :placeholder => "1234", :required => ""}/
              .form-group.guess_markers_list
                #guess_marker
                  %button.btn.btn-success.marks{:disabled => "disabled", :type => "button"} +
                  %button.btn.btn-primary.marks{:disabled => "disabled", :type => "button"} -
                  %button.btn.btn-danger.marks{:disabled => "disabled", :type => "button"} x
                  %button.btn.btn-danger.marks{:disabled => "disabled", :type => "button"} x
              %hr.mb-4/
              %button.btn.btn-primary.btn-lg{:type => "submit"}
                Submit
            - if @request.session[:hints_left] != @request.session[:hints_total]
              %a.btn.btn-warning.btn-lg.float-right{:role => "button", :href => '/show_hint'}
                Show hint!
                %span.badge.badge-light
                  - if @request.session[:hints_left]
                    - a = @request.session[:hints_left]
                    - a.times do |index|
                      = @request.session[:secret_code_hints][index]
            - else
              %a.btn.disabled.btn-warning.btn-lg.float-right{:role => "button", :href => '/show_hint'}
                Show hint!
                %span.badge.badge-light
                  -# = @request.session[:hint]
                  -# = @request.session[:hint]
