!!!
%html.mdl-js{:lang => "en"}
  %head
    = render('/partials/load_configs')
  %body
    %section#introduction
      .container
        .row.fill-viewport.align-items-center.justify-content-center
          .col-12.col-md-6.text-center
            .row.d-ib
              .col-md-auto
                %h1.text-white.title.inline-block
                  = show_info(:codebreaker_title)
              .row
                = render('/partials/show_result_info_user')
              .row
              .text-center
                .text-center
                  %h3.text-white
                    = show_info(:lose)
                  %h4.text-white
                    = show_info(:the_code_was)
                    %strong= @request.session[:game].secret_code.join
                %img.img-fluid{:alt => "You lose the game!", :src => "assets/images/lost.gif"}/
            %hr.mb-4/
            %a.btn.btn-primary.btn_play_again.btn-lg{:href => "/", :role => "button"}
              = show_info(:btn_play_again)
            %a.btn.btn-success.btn-lg.float-right{:href => "/statistics", :role => "button"}
              = show_info(:title_statistics)
