!!!
%html.mdl-js{:lang => "en"}
  %head
    = render('/partials/load_configs')
  %body
    %section#introduction
      .container
        .row.fill-viewport.align-items-center.justify-content-center
          .col-12.col-md-6
            .row
              .col-md-auto
                %h1.text-white.title
                  = show_info(:codebreaker_title)
            .row
              %p.lead.text-white-70
                = show_info(:try_to_guess_code)
            %hr.mb-4/
            %form{:action => "/registration", :method => "post"}
              .form-group
                %label.lead.label{:for => "player_name"}
                  = show_info(:player_name)
                %input#player_name.form-control{:autofocus => "", :name => "player_name", :pattern => "^[\\w\\u0400-\\u04ff]{3,20}$", :placeholder => "Your name", :required => ""}/
              .form-group
                %label.lead.label{:for => "level"}
                  = show_info(:game_level)
                %select.custom-select{:name => "level", :required => ""}
                  %option{:value => ""}
                    = show_info(:choose_game_level)
                  %option{:value => "easy"}
                    = show_info(:easy)
                  %option{:value => "medium"}
                    = show_info(:medium)
                  %option{:value => "hell"}
                    = show_info(:hell)
              %hr.mb-4/
              %button.btn.btn-primary.btn-lg{:type => "submit"}
                = show_info(:start_the_game)
              %span.float-right
                %a.btn.btn-warning.btn-lg{:href => "/rules", :role => "button"}
                  = show_info(:title_rules)
                %a.btn.btn-success.btn-lg{:href => "/statistics", :role => "button"}
                  = show_info(:title_statistics)
