!!!
%html.mdl-js{:lang => "en"}
  %head
    = render('/partials/load_configs')
  %body
    %section#introduction
      .container
        .row.fill-viewport.align-items-center.justify-content-center
          .col-12.col-md-6
            .row
              .col-md-auto
                %h1.text-white.title
                  = show_info(:codebreaker_title)
            %p.lead.text-white-70
              = show_info(:top_players)
            %hr.mb-4/
            .table-responsive-md.scores
              %table.table.table-striped.table.table-sm
                %thead
                  %tr
                    %th{:scope => "col"} #
                    %th{:scope => "col"} Name
                    %th{:scope => "col"} Level
                    %th{:scope => "col"} Attempts
                    %th{:scope => "col"} Hints
                    %th{:scope => "col"} Date
                %tbody
                  - if CodebreakerRostik::Storage.new.file_exist?
                    - data = CodebreakerRostik::Storage.new.load
                    - data.each do |data_item|
                      %tr
                        %th= data.find_index(data_item) + 1
                        %td= data_item[:name]
                        %td= data_item[:level]
                        %td= data_item[:attempts_left]
                        %td= data_item[:hints_left]
                        %td= data_item[:date]
            %hr.mb-4/
            %a.btn.btn-primary.btn-lg{:href => "/", :role => "button"}
              = show_info(:btn_home)
