.col.button
  %button.btn.btn-primary{:disabled => "disabled", :type => "button"}
    = show_info(:level)
    %span.badge.badge-light
      = @request.session[:level]
  %button.btn.btn-primary{:disabled => "disabled", :type => "button"}
    = show_info(:attempts_left)
    - if @request.session[:game].attempts_left
      = "#{@request.session[:game].attempts_left} / #{@request.session[:attempts_total]}"
    - else
      = "0 / #{@request.session[:attempts_total]}"
  %button.btn.btn-primary{:disabled => "disabled", :type => "button"}
    = show_info(:hints_left)
    - if @request.session[:game].hints_left
      = "#{@request.session[:game].hints_left} / #{@request.session[:hints_total]}"
    - else
      = "0 / #{@request.session[:hints_total]}"
%hr.mb-4/
